

<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="">IoTECH COMPANY</a></li>
                  
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © 2018 , made by <img src="/assets/img/logo/heart.png" width="15px" height="15px" style="margin-bottom: 3px"> IoTECH MEMBERS
                </span>
            </div>
        </div>
    </div>
</footer>
