
<div>
<section   class="login" id="login"  >
  <div class="section section-image section-login" >
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto">
          <div class="card card-register">
            <h3 class="title" style="color:white; text-align: center"  > <b>Welcome </b> </h3>
            <div class="social-line text-center">
              <a  class="btn btn-neutral btn-facebook btn-just-icon" style="align-content: center">
                  <i class="fa fa-facebook" aria-hidden="true" style="font-size: 22px">
                    
                  </i>
                
              </a>
              <a  class="btn btn-neutral btn-google btn-just-icon">
                <i class="fa fa-google" aria-hidden="true" style="font-size:22px">
                 
                </i>
              </a>
              <a  class="btn btn-neutral btn-github btn-just-icon">
                  <i class="fa fa-github" aria-hidden="true" style="font-size:22px">

                  </i>
              </a>
            
            </div>
            <form class="register-form">
              <label>Email</label>
              <div class="input-group">
                <span class="input-group-addon btn-round " >
                  <img src="/assets/img/logo/email.png" width="19px" height="18px">
                </span>
                <input type="text" class="form-control btn-round" placeholder="Email">
              </div>
                <br>
              <label>Password</label>
              <div class="input-group">
                <span class="input-group-addon btn-round">
                  <img src="/assets/img/logo/password.png" width="19px" height="18px">
                </span>
                <input type="text" class="form-control btn-round" placeholder="Password">
              </div>
              <br>
              
              <button class="btn btn-danger btn-block btn-round" style="align-content: center">
                  <i class="fa fa-check-circle" style="height: 16px; width: 16px; font-size: 16px;"></i>
                  Login</button>

            </form>
            <div class="forgot">
              <a href="#" class="btn btn-link btn-danger" style="color: white; font-size: 10px">Forgot password?</a>
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </div>
</section>
</div>

