<div class="db-body" >
  <section >
    <nav >
       <div class="sidebar" >
           <div class="blur">
        <div class="list">
                <a class="db-logo"  href="#"> 
                        <img style="width: 45px; height: 45px" src="/assets/img/angular2-logo.png">
                      <a style="font-size: 14px; color: black">  BOOK TEACHER TUTORIAL</a>
                    </a>    
        </div>
        <div class="cover">
      <a class="list link" href="#">
          <i class="fa fa-home" style="font-size: 25px" aria-hidden="true"></i>  Home  </a>
      <a class="list link"  href="#"> 
          <i class="fa fa-sticky-note" style="font-size: 25px" aria-hidden="true"></i> Note </a>
      <a class="list link" href="#"> 
          <i class="fa fa-bookmark" style="font-size: 25px" aria-hidden="true"></i> Bookmard </a>
      <a class="list link" href="#">
          <i class="fa fa-calendar" style="font-size: 25px" aria-hidden="true"></i> Calendar </a>
      <a class="list link" href="#"> 
          <i class="fa fa-user-circle-o" style="font-size: 25px" aria-hidden="true"></i> User Profile </a>
      <a class="list link" href="#"> 
          <i class="fa fa-cog" style="font-size: 25px" aria-hidden="true"></i> Setting </a>
        </div>
    </div>
    </div>
    </nav>  
  </section>

</div>

